.Todo-row {
  margin-bottom: 1%;
}

.Todo-complete-button {
  text-align: left;
  width: 95%;
  background-color: #8e8d8a;
  border-color: #8e8d8a;
}
.Todo-complete-button:hover {
  background-color: #e98074;
  border-color: #e98074;
}
.Todo-complete-button:enabled {
  box-shadow: none;
}
.Todo-complete-button:active {
  box-shadow: none !important;
  background-color: #e85a4f !important;
  border-color: #e85a4f !important;
}

.Todo-button-completed {
  text-decoration: line-through;
}
.Todo-button-completed:hover {
  text-decoration: line-through;
}

.Todo-delete-button {
  width: 5%;
  padding: 0;
  border-radius: 0.25rem;
}
